.restaurant-Home
    height: 450px
    display: flex
    justify-content: space-around
    align-content: center
    padding: auto
    padding-top: 40px
    // margin: 20
    background-color: #f2f2f2
    h1
        font-family: cursive
        width: 90%
    .left
       width: 30%
       height: 250px 
       padding-top: 100px
       font-size: large    
    .leftside
        width: 90%
        height: 250
        padding-top: 50px
        padding:20px
    button
        color: white
        background-color: #d33333
    .btn
        background-color: transparent
        color: black
.restaurant-about
    text-align: center
    padding: 20px
    h1
        font-family: cursive
        text-align: center
    span
        color: red
    .globale
        display: flex
        justify-content: space-evenly
        align-content: center
    .sous-img
        border: 2px solid black
        padding: 10px
    .rightside-icons
        width: 40%
        padding: 50px